html {
    
}
body {
    margin: 0;
    height: 100%;
    font-family: brandon-grotesque;
    background: #474747;
}

header {
    text-align: center;
    color: #eaeaea;
}
#main {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}





.pixel {
    border: 0.2px solid rgba(0, 0, 0, .1);
}


#canvas {
    min-width: 450px;
    min-height: 450px;
    width: 30vw;
    height: 30vw;
    display: grid;
    border: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}
.btn {
    color: black;
    font-family: brandon-grotesque;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    background-color: lightgray;
    padding: 10px 30px 10px 30px;
    /* filter: drop-shadow(0px 2px 1px lightgray); */
    margin: 10px 0;
}

.btn:hover {
    filter: brightness(95%);
}

.btn:hover {
    /* box-shadow: 2px 2px 2px rgb(187, 187, 187); */
}

.tool {
    color: rgb(73, 73, 73);
    width: 70px;
    height: 70px;
    border: transparent;
}

.color {
    border: 1px solid rgb(173, 173, 173) !important;
}

.activeTool {
    background-color: rgb(116, 116, 116);
    color: white !important;
}

.tool i {
    display:block;
    text-align:center;
    position: relative;
    left: -4px;
}


.activeColor {
    background-color: rgb(116, 116, 116);
    color: white !important;
}




#densitySlider {
    width: 100%;
}

#densityContainer {
    margin: 20px;
    
}

#sliderCaption {
    margin-top: 10px;
    color: #eaeaea;
}

.btnContainer {
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-Color: lightgray;
    height: auto;
    padding: 8px;
}

hr {
    color: black;
}