html {
    height: 100%;
    
}
body {
    height: 100%;
    margin: 0;
    /* background: lightblue; */
    height: 100%;
    font-family: brandon-grotesque;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
}
#main {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}





.pixel {
    border: 0.2px solid rgba(0, 0, 0, .1);
}
#canvas {
    width: 30vw;
    height: 30vw;
    display: grid;
    border: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.activated {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}

.btn {
    color: black;
    font-family: brandon-grotesque;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    background: transparent;
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    filter: drop-shadow(0px 2px 1px lightgray);
    margin: 10px 0;
}

.activated {
    background: black;
}




#densitySlider {
    width: 100%;
}

#densityContainer {
    margin: 20px;
}

#sliderCaption {
    margin-top: 0;
}

.btnContainer {
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}