html {
    
}
body {
    margin: 0;
    /* background: lightblue; */
    height: 100%;
    font-family: brandon-grotesque;
    background: #c0c0cc;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
}
#main {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}





.pixel {
    border: 0.2px solid rgba(0, 0, 0, .1);
}


#canvas {
    min-width: 300px;
    min-height: 300px;
    width: 30vw;
    height: 30vw;
    display: grid;
    border: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

#toolPanel {
    background-Color: lightgray;
    height: auto;
    padding: 8px;
}

.btn {
    color: black;
    font-family: brandon-grotesque;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    background-color: lightgray;
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    filter: drop-shadow(0px 2px 1px lightgray);
    margin: 10px 0;
}

.btn:hover {
    filter: brightness(105%);
}



.btn:hover {
    box-shadow: 2px 2px 2px rgb(187, 187, 187);
}

.tool {
    color: rgb(73, 73, 73);
    width: 70px;
    height: 70px;
    border: transparent;
}

.activeTool {
    background-color: rgb(116, 116, 116);
    color: white !important;
}

.tool i {
    display:block;
    text-align:center;
    position: relative;
    left: -4px;
}


.activeColor {
    background: black;
    color: white;
}




#densitySlider {
    width: 100%;
}

#densityContainer {
    margin: 20px;
}

#sliderCaption {
    margin-top: 0;
}

.btnContainer {
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}